<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	<style>
	body {
		background-color: #222;	
	}
	* {
		color: #eee;
	}
	</style>
</head>
<body>
	{% block body %}
	{% endblock %}
</body>
</html>